<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database input</title>
  </head>

  <body>

    <main class="content">
      <h1 class="title">Database Input</h1>

      <form action="/dbinput" method="post">
        <input type="text" id="messageInput" name="messageInput" placeholder="..." />
        <button type="submit" value="submit" name="submit" >Send</button>
      </form>


    </main>
  </body>
</html>
